<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaanfdo.myfinalproject">

    <uses-sdk
        android:maxSdkVersion="18"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".Profile" />
        <activity android:name=".NewsFeeds" />
        <activity android:name=".Events" />
        <activity android:name=".ClassSchedule" />
        <activity
            android:name=".MainForm"
            android:label="@string/title_activity_navigation_form"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddClassSchedule" />
        <activity android:name=".AddTeacherAppointment" />
        <activity android:name=".AddNews" />
        <activity android:name=".AddEvents" />
        <activity android:name=".TeacherAppointment" />
        <activity android:name=".SpinnerSearch.SpinnerSearchActivity" />
        <activity android:name=".Buckys.BuckyActivity" />
        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".Employee.EmployeeHomeActivity" />
        <activity android:name=".Hero.HerosActivity" />
        <activity android:name=".Employee.ViewEmployeeActivity" />
        <activity android:name=".FilterListView.FilterListViewActivity" />
        <activity android:name=".WebService.StudentActivity" />
        <activity
            android:name=".Search.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".Search.SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".Charts.PieChartActivity" />
        <activity android:name=".Charts.BarChartActivity" />
        <activity android:name=".Charts.LineChartActivity" />
        <activity android:name=".Charts.HomeChartActivity" />
        <activity android:name=".Students.StudentsActivity" />
        <activity android:name=".User.UsersActivity"></activity>
    </application>

</manifest>